@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .buttons {
    @apply bg-neutral-800 hover:bg-neutral-900 text-white py-2 px-4 rounded;
  }
  .modalFields {
    @apply text-neutral-900 font-bold;
  }
  .modalButtons {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
  }
}

.danger-text {
  color: red;
  font-weight: 600;
}

.react-tabs__tab {
  margin-bottom:0px;
  bottom:0px;
}

.react-tabs__tab:focus:after{
  background: none;
}

.ace_editor{
  margin-bottom: .5rem;
  border: 1px solid #c3c4c7;
}

table[role="table"]{
  border-width:1px;
}